.footer {
  border-top: 1px solid lightgray;
  padding: 20px;
  background-color: #f7f7f7;
  bottom: 0 !important;
  text-align: center;
}

.footer > p {
  /*  margin: 200px; */
  padding: 150px;
  font-size: 14px;
}
